<!-- category_detail.html -->
{% extends "myapp/base.html" %}

{% block content %}
<!-- Банер -->
<div class="category-banner">
    <img src="{{ category.banner_image.url }}" alt="{{ category.name }}">
    <div class="overlay">
        <h1>{{ category.name }}</h1>
    </div>
</div>

<!-- Товари -->
<div class="container my-5">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-4">
        {% for product in products %}
        <div class="col">
            <div class="product-card-category">
                <a href="{% url 'product_detail' product.id %}" class="text-decoration-none text-dark">
                    <img src="{{ product.product_image.url }}" class="product-image-category" alt="{{ product.name }}">
                    <div class="product-info-category">
                        <h5 class="product-name">{{ product.name }}</h5>
                        <p class="product-description">{{ product.description }}</p>
                        <p class="product-price"><strong>Ціна:</strong> {{ product.price }} грн</p>
                        <p class="product-weight"><strong>Вага:</strong> {{ product.weight }} г</p>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
