<!-- product_detail.html -->
{% extends "myapp/base.html" %}

{% block content %}
<div class="container py-5">
    <div class="row align-items-center">
        <!-- Фото -->
        <div class="col-md-6 mb-4 mb-md-0">
            <img src="{{ product.product_image.url }}" alt="{{ product.name }}" class="img-fluid rounded shadow-sm">
        </div>

        <!-- Інформація -->
        <div class="col-md-6">
            <h1 class="display-5 fw-bold mb-4">{{ product.name }}</h1>
            <p class="text-muted mb-4">{{ product.description }}</p>
            <p class="mb-3"><strong>Склад:</strong> {{ product.ingredients }}</p>
            <p class="mb-3"><strong>Ціна:</strong> {{ product.price }} грн</p>
            <p class="mb-3"><strong>Вага:</strong> {{ product.weight }} г</p>
        </div>
    </div>
</div>
{% endblock %}
